_FerriereNavarro_Replication/MODEL/CODES/BENCHMARK/MG/OUTPUT/Tdx_TR_LOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/BENCHMARK/MG/OUTPUT/BjinvkLOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/BENCHMARK/CG/OUTPUT/Vwrk_TR.txt
_FerriereNavarro_Replication/MODEL/CODES/BENCHMARK/CG/OUTPUT/Vnow_TR.txt
_FerriereNavarro_Replication/MODEL/CODES/BENCHMARK/CG/OUTPUT/Tdx_TR_LOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/BENCHMARK/CG/OUTPUT/BjinvkLOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/BENCHMARK/CG/OUTPUT/JACmat_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/BENCHMARK/CG/OUTPUT/Bjinvk_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/BENCHMARK/CG_DECOMP/OUTPUT_1/Vwrk_TR.txt
_FerriereNavarro_Replication/MODEL/CODES/BENCHMARK/CG_DECOMP/OUTPUT_1/apol_TR.txt
_FerriereNavarro_Replication/MODEL/CODES/BENCHMARK/CG_DECOMP/OUTPUT_1/Vnow_TR.txt
_FerriereNavarro_Replication/MODEL/CODES/BENCHMARK/CG_DECOMP/OUTPUT_1/mu_TR.txt
_FerriereNavarro_Replication/MODEL/CODES/BENCHMARK/CG_DECOMP/OUTPUT_1/hpol_TR.txt
_FerriereNavarro_Replication/MODEL/CODES/BENCHMARK/CG_DECOMP/OUTPUT_1/cpol_TR.txt
_FerriereNavarro_Replication/MODEL/CODES/BENCHMARK/MG_DECOMP/OUTPUT_1/Vwrk_TR.txt
_FerriereNavarro_Replication/MODEL/CODES/BENCHMARK/MG_DECOMP/OUTPUT_1/apol_TR.txt
_FerriereNavarro_Replication/MODEL/CODES/BENCHMARK/MG_DECOMP/OUTPUT_1/Vnow_TR.txt
_FerriereNavarro_Replication/MODEL/CODES/BENCHMARK/MG_DECOMP/OUTPUT_1/mu_TR.txt
_FerriereNavarro_Replication/MODEL/CODES/BENCHMARK/MG_DECOMP/OUTPUT_1/hpol_TR.txt
_FerriereNavarro_Replication/MODEL/CODES/BENCHMARK/MG_DECOMP/OUTPUT_1/cpol_TR.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/HIGHDEBT/MG/OUTPUT/Tdx_TR_LOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/HIGHDEBT/MG/OUTPUT/BjinvkLOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/HIGHDEBT/MG/OUTPUT/JACmat_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/HIGHDEBT/MG/OUTPUT/Bjinvk_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/HIGHDEBT/CG/OUTPUT/Tdx_TR_LOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/HIGHDEBT/CG/OUTPUT/BjinvkLOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/HIGHDEBT/CG/OUTPUT/JACmat_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/HIGHDEBT/CG/OUTPUT/Bjinvk_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/NEOCLASS/MG/OUTPUT/Tdx_TR_LOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/FLATLPE/MG/OUTPUT/Tdx_TR_LOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/FLATLPE/MG/OUTPUT/BjinvkLOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/FLATLPE/MG/OUTPUT/JACmat_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/FLATLPE/MG/OUTPUT/Bjinvk_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/FLATLPE/CG/OUTPUT/Tdx_TR_LOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/FLATLPE/CG/OUTPUT/BjinvkLOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/FLATLPE/CG/OUTPUT/JACmat_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/FLATLPE/CG/OUTPUT/Bjinvk_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/FLEXWAGES/MG/OUTPUT/Tdx_TR_LOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/FLEXWAGES/MG/OUTPUT/BjinvkLOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/FLEXWAGES/MG/OUTPUT/JACmat_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/FLEXWAGES/MG/OUTPUT/Bjinvk_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/FLEXWAGES/CG/OUTPUT/Tdx_TR_LOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/FLEXWAGES/CG/OUTPUT/BjinvkLOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/FLEXWAGES/CG/OUTPUT/JACmat_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/FLEXWAGES/CG/OUTPUT/Bjinvk_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/FLATMPC/MG/OUTPUT/Tdx_TR_LOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/FLATMPC/MG/OUTPUT/BjinvkLOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/FLATMPC/MG/OUTPUT/JACmat_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/FLATMPC/MG/OUTPUT/Bjinvk_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/FLATMPC/CG/OUTPUT/mu_TR.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/FLATMPC/CG/OUTPUT/Tdx_TR_LOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/FLATMPC/CG/OUTPUT/BjinvkLOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/FLATMPC/CG/OUTPUT/JACmat_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/FLATMPC/CG/OUTPUT/Bjinvk_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/NOMCONS/MG/OUTPUT/Tdx_TR_LOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/NOMCONS/MG/OUTPUT/BjinvkLOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/NOMCONS/MG/OUTPUT/JACmat_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/NOMCONS/MG/OUTPUT/Bjinvk_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/NOMCONS/CG/OUTPUT/Tdx_TR_LOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/NOMCONS/CG/OUTPUT/BjinvkLOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/NOMCONS/CG/OUTPUT/JACmat_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST/NOMCONS/CG/OUTPUT/Bjinvk_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATLPE_FLEXWAGES/MG/OUTPUT/Vwrk_TR.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATLPE_FLEXWAGES/MG/OUTPUT/apol_TR.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATLPE_FLEXWAGES/MG/OUTPUT/Vnow_TR.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATLPE_FLEXWAGES/MG/OUTPUT/mu_TR.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATLPE_FLEXWAGES/MG/OUTPUT/Tdx_TR_LOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATLPE_FLEXWAGES/MG/OUTPUT/BjinvkLOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATLPE_FLEXWAGES/MG/OUTPUT/hpol_TR.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATLPE_FLEXWAGES/MG/OUTPUT/cpol_TR.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATLPE_FLEXWAGES/MG/OUTPUT/JACmat_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATLPE_FLEXWAGES/MG/OUTPUT/Bjinvk_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATLPE_FLEXWAGES/CG/OUTPUT/Vwrk_TR.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATLPE_FLEXWAGES/CG/OUTPUT/Vnow_TR.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATLPE_FLEXWAGES/CG/OUTPUT/Tdx_TR_LOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATLPE_FLEXWAGES/CG/OUTPUT/BjinvkLOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATLPE_FLEXWAGES/CG/OUTPUT/hpol_TR.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATLPE_FLEXWAGES/CG/OUTPUT/JACmat_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATLPE_FLEXWAGES/CG/OUTPUT/Bjinvk_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATLPE_STICKWAGES/MG/OUTPUT/Tdx_TR_LOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATLPE_STICKWAGES/MG/OUTPUT/BjinvkLOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATLPE_STICKWAGES/MG/OUTPUT/JACmat_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATLPE_STICKWAGES/MG/OUTPUT/Bjinvk_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATLPE_STICKWAGES/CG/OUTPUT/Tdx_TR_LOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATLPE_STICKWAGES/CG/OUTPUT/BjinvkLOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATLPE_STICKWAGES/CG/OUTPUT/JACmat_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATLPE_STICKWAGES/CG/OUTPUT/Bjinvk_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/STICKWAGES/MG/OUTPUT/Tdx_TR_LOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/STICKWAGES/MG/OUTPUT/BjinvkLOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/STICKWAGES/MG/OUTPUT/JACmat_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/STICKWAGES/MG/OUTPUT/Bjinvk_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/STICKWAGES/CG/OUTPUT/Tdx_TR_LOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/STICKWAGES/CG/OUTPUT/BjinvkLOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/STICKWAGES/CG/OUTPUT/JACmat_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/STICKWAGES/CG/OUTPUT/Bjinvk_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/PROFITMORE/MG/OUTPUT/Tdx_TR_LOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/PROFITMORE/MG/OUTPUT/BjinvkLOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/PROFITMORE/MG/OUTPUT/JACmat_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/PROFITMORE/MG/OUTPUT/Bjinvk_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/PROFITMORE/CG/OUTPUT/Tdx_TR_LOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/PROFITMORE/CG/OUTPUT/BjinvkLOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/PROFITMORE/CG/OUTPUT/JACmat_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/PROFITMORE/CG/OUTPUT/Bjinvk_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATMPC_FLEXWAGES/MG/OUTPUT/Tdx_TR_LOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATMPC_FLEXWAGES/MG/OUTPUT/BjinvkLOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATMPC_FLEXWAGES/MG/OUTPUT/JACmat_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATMPC_FLEXWAGES/MG/OUTPUT/Bjinvk_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATMPC_FLEXWAGES/CG/OUTPUT/Vwrk_TR.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATMPC_FLEXWAGES/CG/OUTPUT/Vnow_TR.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATMPC_FLEXWAGES/CG/OUTPUT/Tdx_TR_LOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATMPC_FLEXWAGES/CG/OUTPUT/BjinvkLOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATMPC_FLEXWAGES/CG/OUTPUT/hpol_TR.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATMPC_FLEXWAGES/CG/OUTPUT/JACmat_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATMPC_FLEXWAGES/CG/OUTPUT/Bjinvk_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/HETB/MG/OUTPUT/Tdx_TR_LOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/HETB/MG/OUTPUT/BjinvkLOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/HETB/MG/OUTPUT/JACmat_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/HETB/MG/OUTPUT/Bjinvk_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/HETB/CG/OUTPUT/Vwrk_TR.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/HETB/CG/OUTPUT/Vnow_TR.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/HETB/CG/OUTPUT/Tdx_TR_LOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/HETB/CG/OUTPUT/BjinvkLOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/HETB/CG/OUTPUT/JACmat_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/HETB/CG/OUTPUT/Bjinvk_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/PROFITLESS/MG/OUTPUT/Tdx_TR_LOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/PROFITLESS/MG/OUTPUT/BjinvkLOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/PROFITLESS/MG/OUTPUT/JACmat_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/PROFITLESS/MG/OUTPUT/Bjinvk_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/PROFITLESS/CG/OUTPUT/Tdx_TR_LOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/PROFITLESS/CG/OUTPUT/BjinvkLOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/PROFITLESS/CG/OUTPUT/JACmat_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/PROFITLESS/CG/OUTPUT/Bjinvk_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATMPC_STICKWAGES/MG/OUTPUT/Tdx_TR_LOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATMPC_STICKWAGES/MG/OUTPUT/BjinvkLOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATMPC_STICKWAGES/MG/OUTPUT/JACmat_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATMPC_STICKWAGES/MG/OUTPUT/Bjinvk_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATMPC_STICKWAGES/CG/OUTPUT/Tdx_TR_LOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATMPC_STICKWAGES/CG/OUTPUT/BjinvkLOAD.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATMPC_STICKWAGES/CG/OUTPUT/JACmat_kx.txt
_FerriereNavarro_Replication/MODEL/CODES/ROBUST_APPEND/FLATMPC_STICKWAGES/CG/OUTPUT/Bjinvk_kx.txt
